* {
  margin: 0;
  font-family: "Poppins", sans-serif
}

header {
  height: 150px;
  text-align: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  color: indigo;
}

.hero {
  height: auto
  border: 10px;
  padding: 10px;
  background-repeat: no-repeat;
  background-size:contain;
  text-align: center;
}

.card {
  display: flex;
  text-align: center;
  padding: 10px;;
}

.card-purple {
  background-color: rgb(136, 102, 163);
  color: white;
}

.card-white {
  color: indigo;
}

form {
  text-align: center;
}

label {
  padding: 10px
}

.place-left {
  text-align: left ;
}

.place-right {
  text-align: right ;
}

.pl-logo {
  height: 100px;
  padding: px;
}


.title {
  vertical-align: middle;
}

.team-logo {
    margin-left: 10px;
    height: 50px
}

.record {
    vertical-align:sub
}

.card-left {
  
}

.card-center {
  margin: auto;
}
